body {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

.root h1 {
  padding: 16px;
  font-weight: 700;
  margin: 0;
}

.root h4 {
  padding: 16px;
  font-size: 18px;
  font-weight: 600;
  margin: auto;
  line-height: 1.8;
  width: 90%;
}

.root p {
  padding: 16px;
  font-weight: 500;
  margin: 0;
}

.no-shimmer {
  display: inline-block;
  font-size: 17px;
  color: #005b9f;
  font-weight: 700;
  margin: 0;
  padding: 8px;
  background: #b3e5fc;
  border-radius: 4px;
}

.shimmer {
  display: inline-block;
  color: white;
  font-size: 18px;
  font-weight: 700;
  background: #FF5733 -webkit-gradient(linear, 100% 0, 0 0, from(#FF5733), color-stop(0.5, #900C3F), to(#FF5733));
  background-position: -4rem top;
  /*50px*/
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation-name: shimmer;
  -webkit-animation-duration: 2.2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-background-size: 4rem 100%;
  /*50px*/
}

@-webkit-keyframes shimmer {
  0% {
    background-position: -4rem top;
    /*50px*/
  }

  70% {
    background-position: 12.5rem top;
    /*200px*/
  }

  100% {
    background-position: 12.5rem top;
    /*200px*/
  }
}

.header {
  margin: 0;
}

.image-stack {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.image-container {
  padding-left: 8px;
  padding-right: 8px;
}

.action {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  padding-top: 20px;
}

.save {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  border: 2px solid #ef5350;
  background-color: white;
  padding: 12px 20px;
  font-size: 16px;
  border-color: #ef5350;
  color: #ef5350;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s cubic-bezier(0.2, 0.8, 0.2, 1);
  transition-delay: 0.05s;
}

.save:hover {
  /* transform: rotate(-0.8deg); */
  transform: scale(1.05);
  background-color: #ef5350;
  color: white;
}

.refresh {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  border: 2px solid #7e57c2;
  background-color: white;
  color: #7e57c2;
  padding: 12px 20px;
  font-size: 16px;
  border-color: #7e57c2;
  border-radius: 4px;
  color: #7e57c2;
  cursor: pointer;
  transition: 0.3s cubic-bezier(0.2, 0.8, 0.2, 1);
  transition-delay: 0.05s;
}

.refresh:hover {
  transform: rotate(0.8deg);
  transform: scale(1.05);
  background-color: #7e57c2;
  color: white;
}

#refresh {
  margin-right: 64px;
}

#save-image {
  margin-right: 16px;
}

img {
  width: 300px;
}

a {
  text-decoration: none;
  color: blue;
}
